{% extends "base.html"%}
{% block title %} من نحن{% endblock %}
{% block content %}
<div class="container mt-5 d-flex flex-column  justify-content-center mb-5" >
    <div class="row mb-4  me-5 p-2"> <h1>من نحن </h1> </div>
    <div class="row mb-4 text-center"> <h4>مبادرة  إعلامية تسعى لتثقيف الصحفيين حول كيفية توظيف تقنيات الذكاء الاصطناعي الحديثة في غرف الأخبار .</h4> </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 mt-4 p-3">
            <h4 class="text-center">هدفنا </h4>
            <p class="text-center fs-5 p-3">تعريف الصحفيين في المملكة العربية السعودية على كيفية توظيف تقنيات الذكاء الاصطناعي في عملية إنتاج المحتوى 
            </p>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mt-4 p-3">
            <h4 class="text-center">رسالتنا  </h4>
            <p class="text-center fs-5 p-3">السعي إلى تحويل الصحف التقليدية إلى صحف ذكية ومواكبة التطورات التقنية</p>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mt-4 p-3">
            <h4 class="text-center">رؤيتنا </h4>
            <p class="text-center fs-5 p-3"> رفع مستوى التطور في الصحافة السعودية باستخدام الذكاء الاصطناعي </p>
        </div>
    </div>

</div>
{% endblock %}