{% extends "base.html"%}
{% block title %} الصفحةالسرية  {% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    {% if error == 'empty input' %}
        <div class="alert alert-danger">من فضلك اكمل كل الحقول</div>
    {% elif error == 'invalid email'%}
    <div class="alert alert-danger">البريد الالكتروني غير صحيح</div>
    {% elif error == 'used email'%}
    <div class="alert alert-danger">البريد الالكتروني مستخدم من قبل</div>
    {% elif error == 'role error'%}
    <div class="alert alert-danger">حاول مرة اخرى ايها المضحك </div>
    {% endif %}
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <form action="{{url_for("secret_admin_create")}}" class="login-form" method="post">
                <div class="mb-3 mt-3">
                  <label for="first_name" class="form-label">الاسم الأول</label>
                  <input type="text" class="form-control" value="{% if form_data %}{{form_data['first_name']}}{% endif %}" placeholder="ادخل اسمك" name="first_name">
                </div>
                <div class="mb-3 mt-3">
                  <label for="last_name" class="form-label">اسم العائلة</label>
                  <input type="text" class="form-control" value="{% if form_data %}{{form_data['last_name']}}{% endif %}" placeholder="ادخل اسم العائلة" name="last_name">
                </div>
                <div class="mb-3 mt-3">
                  <label for="email" class="form-label">الايميل</label>
                  <input type="email" class="form-control" value="{% if form_data %}{{form_data['email']}}{% endif %}" placeholder="ادخل بريدك الالكتروني" name="email">
                </div>
                <div class=" mt-3 mb-3">
                  <label for="pwd" class="form-label">كلمة المرور</label>
                  <input type="password" class="form-control" id="pwd" placeholder="ادخل كلمة المرور" name="password">
                </div>

                <div class="mt-3 mb-3 col-5">
                    <label for="user_role" class="form-label">نوع المستخدم</label>
                    <select class="form-select" name="user_role">
                        {% for role in roles %}
                        {% if role.title == 'author'%}
                        <option value="{{role.id}}">صحفي</option>
                        {% elif role.title == 'user'%}
                        <option value="{{role.id}}">مستخدم عادي</option>
                        {% else %}
                        <option value="{{role.id}}">{{role.title}}</option>
                        {% endif %}
                        {% endfor %}

                      </select>
                 
                </div>
               
                <button type="submit" class="btn btn-primary primary mt-3">تسجيل حساب جديد</button>
              </form>
        </div>
    </div>

</div>
{% endblock %}