
<footer class="mt-2">
        <div class=" container mt-5 p-4 bg-dark text-white text-center footer">
            <div class="contacts">
                <div class="email col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <span class="ms-2">nyrai2030sa@gmail.com</span><i class="fas fa-envelope"></i> 
                </div>

                <div class="place col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <span>Jeddah, KSA</span><i class="fas fa-home me-3 "></i>
                </div>

                <div class="twitter col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <a href="https://twitter.com/nyr__ai?s=21&t=Cvq75MOsWa8kFGwm8DnpTg" target="_blank" rel="noopener noreferrer">
                        <span class="ms-2">NYR__Ai@</span><i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
            
            <div class="copy-right">
                © 2023 Copyright: NYR_Ai  
            </div>
            
            
        </div>
</footer>

    
    
   
